.idea
*.bak
.DS_Store

node_modules
package-lock.json

data

src/backend/.idea
src/backend/node_modules
src/backend/package-lock.json
src/backend/updates/config.json
src/backend/updates/*.bin

src/frontend/node_modules
src/frontend/.idea
src/frontend/package-lock.json

src/frontend/serve/node_modules
src/frontend/serve/.idea
src/frontend/serve/package-lock.json

src/client/.idea
src/client/.pio
src/client/CMakeListsPrivate.txt
src/client/cmake-build-*/

docs/db/*.mwb.bak