*.png filter=lfs diff=lfs merge=lfs -bin
*.jpg filter=lfs diff=lfs merge=lfs -bin
*.pdf filter=lfs diff=lfs merge=lfs -bin
*.docx filter=lfs diff=lfs merge=lfs -bin
*.mp4 filter=lfs diff=lfs merge=lfs -bin
*.gif filter=lfs diff=lfs merge=lfs -bin
*.ico filter=lfs diff=lfs merge=lfs -bin
*.mwb filter=lfs diff=lfs merge=lfs -bin
